
body {
background-color: #000;
margin: 0px;
box-sizing: border-box;
}

.container {
width: 100%;
height: 2000px;
margin: 0px;
display: grid;
grid-template-rows: 6% 49% 20% 25%;
grid-template-columns: 20% 80%;
grid-template-areas: "header header"
                     "side a"
                     "side a"
                     "footer footer";
justify-content: center;
body-margin: 0px;
}

header {
width: 100%;
background-color: #0E0E0E;
grid-area: header;
position: fixed;
}

.a {
font-family: arial;
grid-area: a;
text-align: center;
background-image: linear-gradient(#212121, #000);
}

.a img {
position: center;
}

.side {
grid-area: side;
justify-content: left;
background-image: linear-gradient(#212121, #000);
}

footer {
grid-area: footer;
background-color: #000;
}

footer h3 {
color: #fff8e7;
font-size: 20px;
text-indent: 30px;
font-family: 'Cinzel', serif;
}

footer p {
color: #fff8e7;
text-align: left;
text-indent: 40px;
}

header h1 {
text-align: center;
color: #fff8e7;
font-family: 'Cinzel', serif;
font-size: 35px;
}

header h4 {
text-align: center;
justify-content: center;
color: #fff8e7;
font-size: 11px;
}

.a .side {
width: 1400px;
background-image: linear-gradient(#212121, #000);
}